#u260-6
{
	font-family: fredericka-the-great-n4, sans-serif;
}

#u146-4
{
	font-family: buenard-n4, serif;
}

#u370-4
{
	font-family: buenard-n4, serif;
}

#u220-4
{
	font-family: buenard-n4, serif;
}

#u168-4
{
	font-family: buenard-n4, serif;
}

#u232-4
{
	font-family: buenard-n4, serif;
}

#u181-4
{
	font-family: buenard-n4, serif;
}

#u192-4
{
	font-family: buenard-n4, serif;
}

#u124-4
{
	font-family: buenard-n4, serif;
}

#u236-4,#u391
{
	font-family: adamina-n4, serif;
}

