.version.index /* version checker */
{
	color: #0000F9;
	background-color: #DFD3E9;
}

.html
{
	background: #000000 url("../images/background.jpg") no-repeat center top scroll;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 839px;
	border-style: none;
	border-color: #000000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-left: auto;
	margin-right: auto;
	background: transparent url("../images/notepad-back.gif") repeat-y center top;
}

#page_position_content
{
	padding-bottom: 1px;
	width: 0.01px;
}

#pu276
{
	width: 0.01px;
	margin-left: -111px;
}

#u276
{
	z-index: 2;
	width: 960px;
	margin-right: -10000px;
	left: 111px;
}

#u355
{
	z-index: 3;
	width: 960px;
	padding-bottom: 58px;
	margin-right: -10000px;
}

#u260-6
{
	z-index: 58;
	width: 474px;
	min-height: 114px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 68px;
}

#u111
{
	z-index: 6;
	width: 208px;
	height: 191px;
	margin-right: -10000px;
	margin-top: 239px;
	left: 843px;
}

#u117
{
	z-index: 7;
	width: 208px;
	height: 77px;
	margin-right: -10000px;
	margin-top: 430px;
	left: 843px;
}

#menuu140
{
	z-index: 13;
	width: 175px;
	margin-right: -10000px;
	margin-top: 257px;
	left: 866px;
}

#u141
{
	width: 175px;
}

#u144
{
	width: 175px;
	min-height: 20px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u144:hover
{
	width: 175px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u144:active
{
	width: 175px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u146-4
{
	width: 175px;
	min-height: 20px;
	margin-right: -10000px;
}

#u144:hover #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u144:active #u146-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u367
{
	width: 175px;
	min-height: 20px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u144.MuseMenuActive,#u367:hover
{
	width: 175px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u367:active
{
	width: 175px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u370-4
{
	width: 175px;
	min-height: 20px;
	margin-right: -10000px;
}

#u144.MuseMenuActive #u146-4,#u367:hover #u370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u367:active #u370-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u217
{
	width: 175px;
	min-height: 20px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u367.MuseMenuActive,#u217:hover
{
	width: 175px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u217:active
{
	width: 175px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u220-4
{
	width: 175px;
	min-height: 20px;
	margin-right: -10000px;
}

#u367.MuseMenuActive #u370-4,#u217:hover #u220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u217:active #u220-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u165
{
	width: 175px;
	min-height: 20px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u217.MuseMenuActive,#u165:hover
{
	width: 175px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u165:active
{
	width: 175px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u168-4
{
	width: 175px;
	min-height: 20px;
	margin-right: -10000px;
}

#u217.MuseMenuActive #u220-4,#u165:hover #u168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u165:active #u168-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u229
{
	width: 175px;
	min-height: 20px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u165.MuseMenuActive,#u229:hover
{
	width: 175px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u229:active
{
	width: 175px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u232-4
{
	width: 175px;
	min-height: 20px;
	margin-right: -10000px;
}

#u165.MuseMenuActive #u168-4,#u229:hover #u232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u229:active #u232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u178
{
	width: 175px;
	min-height: 20px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u229.MuseMenuActive,#u178:hover
{
	width: 175px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u178:active
{
	width: 175px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u181-4
{
	width: 175px;
	min-height: 20px;
	margin-right: -10000px;
}

#u229.MuseMenuActive #u232-4,#u178:hover #u181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u178:active #u181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u364,#u214,#u162,#u228,#u175,#u188
{
	width: 175px;
	margin-top: 2px;
}

#u189
{
	width: 175px;
	min-height: 20px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u178.MuseMenuActive,#u189:hover
{
	width: 175px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u189:active
{
	width: 175px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u189.MuseMenuActive
{
	width: 175px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u192-4
{
	width: 175px;
	min-height: 20px;
	margin-right: -10000px;
}

#u178.MuseMenuActive #u181-4,#u189:hover #u192-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u189:active #u192-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u189.MuseMenuActive #u192-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 175px;
	margin: 0px -10000px 0px 0px;
}

#u197
{
	z-index: 56;
	width: 79px;
	margin-right: -10000px;
	margin-top: 218px;
	left: 1050px;
}

#u416
{
	z-index: 64;
	width: 212px;
	margin-right: -10000px;
	margin-top: 208px;
}

#u195-6
{
	z-index: 66;
	width: 519px;
	min-height: 78px;
	background-color: transparent;
	text-align: center;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 243px;
	left: 242px;
}

#u195-2
{
	font-size: 40px;
	line-height: 52px;
}

#u195-4
{
	font-size: 20px;
	line-height: 26px;
}

#u203
{
	z-index: 72;
	width: 613px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 322px;
	left: 195px;
}

#u389
{
	z-index: 75;
	width: 638px;
	min-height: 136px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-size: 18px;
	text-align: justify;
	line-height: 22px;
	font-family: adamina, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 379px;
	left: 170px;
}

#u422-54
{
	z-index: 76;
	width: 651px;
	background-color: transparent;
	font-family: adamina, serif;
	margin-left: 59px;
	margin-top: 49px;
	position: relative;
}

#u422-5,#u422-48
{
	font-size: 16px;
	line-height: 19px;
	font-weight: 700;
}

#u423-49
{
	z-index: 130;
	width: 650px;
	background-color: transparent;
	font-family: adamina, serif;
	margin-left: 60px;
	margin-top: 49px;
	position: relative;
}

#u422-2,#u423-2
{
	font-size: 18px;
	text-align: center;
	line-height: 22px;
	font-weight: 700;
}

#u422-3,#u423-3
{
	font-weight: 400;
}

#u422-7,#u422-9,#u422-11,#u422-13,#u422-15,#u422-17,#u422-19,#u422-21,#u422-23,#u422-25,#u422-27,#u422-29,#u422-31,#u422-33,#u422-35,#u422-37,#u422-39,#u422-41,#u422-43,#u422-45,#u422-50,#u422-52,#u423-14,#u423-17,#u423-20,#u423-23,#u423-26,#u423-29,#u423-32,#u423-35,#u423-38,#u423-41,#u423-44
{
	font-size: 16px;
	line-height: 19px;
	text-indent: 30px;
	font-weight: 400;
}

#u423-8,#u423-12,#u423-15,#u423-18,#u423-21,#u423-24,#u423-27,#u423-30,#u423-33,#u423-36,#u423-39,#u423-42
{
	font-weight: 700;
}

#u422-46,#u423-5,#u423-6,#u423-10,#u423-11,#u423-45,#u423-47
{
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
}

#u387
{
	z-index: 74;
	width: 651px;
	min-height: 126px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	font-family: adamina, serif;
	font-weight: 400;
	margin-left: 59px;
	margin-top: 140px;
	position: relative;
}

#u127
{
	z-index: 4;
	width: 960px;
}

#u351
{
	z-index: 5;
	width: 960px;
	height: 74px;
	margin-right: -10000px;
}

#u123
{
	z-index: 8;
	min-height: 41px;
	padding-bottom: 18px;
}

#u123_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u124-4
{
	z-index: 9;
	width: 235px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 462px;
}

#u123-bw
{
	z-index: 8;
	min-height: 41px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

